.panelStyle{
    height: 80vh;
    width: 15rem;
    border: none;
    border-radius: 8px 0 0 8px;
    background-color: #25c91d;
    color: #fff;
}

li {
    cursor: pointer;
    list-style: none;
    
}

.panelStyle ul li{
    font-size:14px ;
}