.input{
    width: 100%;
    border: 1px solid #bab1b1;
    border-radius: 5px;
    outline: none;
}
.ModalMedia{
    background-color: aquamarine;
}

.buttSub{
    background-color: #4fd217;
    color: #fff;
    border:none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}
/* 
@media screen and (max-width: 1020px) {
    .ModalMedia{
        width: 200px !important;
        position: absolute;
        top: 50%;
        left: 50%;

    }
 
 }
  */