.styleInput{
    display: block;
    background-color: rgb(247, 253, 251);
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 12px;
    box-shadow: 2px 2px 3px #d6d3d3;
    padding: 5px 3px;
}

.styleForm button{
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4fd217;
    padding: 12px 25px;
}